
1-antologia_contempo/
1-images/
1-libros_historia_filosifa/
1-presentaciones_contempo/
1-evaluacion_contempo.md 

2-antologia_episte/
2-images/
2-presentaciones_episte/
2-evaluacion_episte.md


3-estructuralismo/3-antologia_estructura/
3-evaluacion_estructura.md
3-images/
3-estructuralismo/3-presentaciones_estructura/
3-evaluacion_estructura.md
rubricas/
